

.intro{
    width: 100%;
    padding-bottom: 50px;
    padding-top: 170px;
    
}


.headerlinks a:visited{
    color: black;
}

.headerlinks a:link {
    text-decoration: none;
    color: black;
}

main h2{
    font-size: 80px;
    width: auto;
    margin-top: 30px;
    
}

.bluehighlight{
    color: #3300FF;
}

.contacts{
    display: none;
    /* padding-left: 40px; */
}

.arrowbig{
    display: none;
}



.phonearrow{
    color: #3300FF;
    font-size: 80px;
    display:flex;
    justify-content: end;
    text-align: right;
    font-weight: 300;
}


.aboutme p{
    font-size: 24px;
    line-height: 1.1;
    padding: 150px 20px 500px 200px;
}


.Project{
    padding: 0px 0px 80px 0px;
    display: flex;
    flex-wrap: wrap;

}





.Project h4{
    font-size: 20px;
    width: 300px;
    
    
}

.Project h5{
    font-size: 20px;
    width: 300px;
    
}

.Project p{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 50px 0px;
    
    
}

.gallery{
    width: auto;
    flex: wrap;
    
}

.works p{
    font-size: 32px;
}

.two-up img{
    width: 48%;

}


.discuss h6{
    font-size: 40px;
    line-height: 1;

}
.discuss p{
    padding-top: 450px;
    padding-left: 470px;
    font-size: 40px;
}

footer h5{
    font-size: 15px;
    padding-bottom: 50px;
    
    
}

footer p{
    padding-left: 70px;
}

