
.header{
    display: block;
    margin-top: 0;
}

.header h1{
    display: block;
    line-height: 0.9;

}


.headerlinks{
    display: block;
    width: 200px;
    text-align: right;
    line-height: 0.8;
    margin-top: 5px;
}

.headerlinks a:visited{
    color: black;
}

.headerlinks a:link {
    text-decoration: none;
    color: black;
}


.intro{
    display: block;
    width: auto;
    padding-bottom: 15px;
    
}

.phonearrow{
    color: #3300FF;
    font-size: 60px;
    display:flex;
    justify-content: end;
    text-align: right;
    font-weight: 300;
}

main h2{
    font-size: 43px;
    width: auto;
    line-height: 1;
    padding-top: 110px;
    letter-spacing: -1px;
}

.bluehighlight{
    color: #3300FF;
}


.contacts{
    display: none;
}

.arrowbig{
    font-size: 50px;
    color: #3300FF;
    display: block;

}

.aboutme{
    padding: 2em 1em 1em 1em;
}

.aboutme p{
    font-size: 24px;
    line-height: 1.1;
    padding: 150px 0px 350px 0px;
}

.infome{
    width: auto;
}

.infome p{
    font-size: 24px;
    width: auto;
}

.infome h6{
    font-size: 36px;
}

.keywords p{
    font-size: 30px;
}

.infoarrow p{
    font-size: 50px;
}

.infosmile{
    display: inline-block;
    width: fit-content;
    
}

.infosmile img{
    padding-bottom: 50px;
    width: auto;
    height: auto;
}

.infosmile p{
    padding-left: 0;
}

.alright p{
    font-size: 36px;
    line-height: 0.9em;
    letter-spacing: -0.02em;
}

.thisway p{
    font-size: 36px;
    letter-spacing: -0.02em;
    line-height: 0.9em;
}

.Project{
    padding-bottom: 80px;
    padding-left: 0;
    padding: 2em 1em 80px 1em;
}

.Project .gallery{
    padding-bottom: 0px;
    height: auto;
}

.Project h4{
    font-size: 20px;
    width: 300px;
    margin-bottom: 0px;
    padding-left: 0;

}

.Project h5{
    font-size: 20px;
    margin-top: 0px;
    padding-left: 0;
  
}

.Project p{
    width: 100%;
}

.Project .gallery{
    max-width: 100%;

}

.works p{
    font-size: 32px;
}


.Project {
    display: block;
}

.Project p{
    padding: 0;
}


.happycustomers{
    height: auto;
}

.happycustomers p{
    font-size: 36px;
}

.customers{
    padding: 0 10px 0 10px;
    display: inline-block;
    margin: 0;
    text-align: center;
    padding-left: 20px;
    
    
}

.customers img{
    width: 60%;
    height: 60%;
    padding-top: 0;
    padding-bottom: 100px;
}

.img1{
    width: 80%;
    height: 80%;
    padding: 0;
    margin: 0;
    padding-bottom: 120px;
    
    
}

.discuss h6{
    font-size: 36px;
    line-height: 1;
    padding-left: 0;

}
.discuss p{
    padding-top: 450px;
    padding-left: 100px;
    font-size: 36px;
    
}


footer {
    display:block;
    padding-bottom: 1em;
}


footer h5{
    font-size: 30px;
    width: 100%;
    padding-bottom: 50px;
    padding-left: 0;
    
}

footer p{
    font-size: 20px;
    width: auto;
}

