@font-face {
    font-family: 'Suisse Intl';
  src: url('./Fonts/SuisseIntl-Regular-WebXL.eot'); /* IE9 Compat Modes */
  src: url('./Fonts/SuisseIntl-Regular-WebXL.woff2') format('woff2'), /* Super Modern Browsers */
       url('./Fonts/SuisseIntl-Regular-WebXL.woff') format('woff'), /* Pretty Modern Browsers */
       url('./Fonts/SuisseIntl-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./Fonts/SuisseIntl-Regular-WebXL.svg') format('svg'); /* Legacy iOS */
       font-weight: 400;
}

@font-face {
    font-family: 'Suisse Intl';
  src: url('./Fonts/SuisseIntl-Regular-Italic-WebXL.eot'); /* IE9 Compat Modes */
  src: url('./Fonts/SuisseIntl-Regular-Italic-WebXL.woff2') format('woff2'), /* Super Modern Browsers */
       url('./Fonts/SuisseIntl-Regular-Italic-WebXL.woff') format('woff'), /* Pretty Modern Browsers */
       url('./Fonts/SuisseIntl-Regular-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./Fonts/SuisseIntl-Regular-Italic-WebXL.svg') format('svg'); /* Legacy iOS */
       font-weight: 400;
}

@font-face {
    font-family: 'Suisse Intl';
  src: url('./Fonts/SuisseIntl-Medium-WebXL.eot'); /* IE9 Compat Modes */
  src: url('./Fonts/SuisseIntl-Medium-WebXL.woff2') format('woff2'), /* Super Modern Browsers */
       url('./Fonts/SuisseIntl-Medium-WebXL.woff') format('woff'), /* Pretty Modern Browsers */
       url('./Fonts/SuisseIntl-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./Fonts/SuisseIntl-Medium-WebXL.svg') format('svg'); /* Legacy iOS */
       font-weight: 600;
}

@font-face {
    font-family: 'Suisse Intl';
  src: url('./Fonts/SuisseIntl-Medium-Italic-WebXL.eot'); /* IE9 Compat Modes */
  src: url('./Fonts/SuisseIntl-Medium-Italic-WebXL.woff2') format('woff2'), /* Super Modern Browsers */
       url('./Fonts/SuisseIntl-Medium-Italic-WebXL.woff') format('woff'), /* Pretty Modern Browsers */
       url('./Fonts/SuisseIntl-Medium-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./Fonts/SuisseIntl-Medium-Italic-WebXL.svg') format('svg'); /* Legacy iOS */
       font-weight: 600;
}

@font-face {
    font-family: 'Suisse Intl';
  src: url('./Fonts/SuisseIntl-Light-WebXL.eot'); /* IE9 Compat Modes */
  src: url('./Fonts/SuisseIntl-Light-WebXL.woff2') format('woff2'), /* Super Modern Browsers */
       url('./Fonts/SuisseIntl-Light-WebXL.woff') format('woff'), /* Pretty Modern Browsers */
       url('./Fonts/SuisseIntl-Light-WebXL.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./Fonts/SuisseIntl-Light-WebXL.svg') format('svg'); /* Legacy iOS */
       font-weight: 300;
}

@font-face {
    font-family: 'Suisse Intl';
  src: url('./Fonts/SuisseIntl-LightItalic-WebXL.eot'); /* IE9 Compat Modes */
  src: url('./Fonts/SuisseIntl-Light-Italic-WebXL.woff2') format('woff2'), /* Super Modern Browsers */
       url('./Fonts/SuisseIntl-Light-Italic-WebXL.woff') format('woff'), /* Pretty Modern Browsers */
       url('./Fonts/SuisseIntl-Light-Italic-WebXL.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./Fonts/SuisseIntl-Light-Italic-WebXL.svg') format('svg'); /* Legacy iOS */
       font-weight: 300;
}

body{
    background-color: #f7f7f7;
    font-family: "Suisse Intl", 'Helvetica', sans-serif;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
   }


header{
    
    /* width: 1450px; */
    margin: 0 auto 0 auto; /*T R B L*/
    padding: 1em 1em 1em 1em;
    display: flex;
    justify-content: space-between;
}

header h1{
    font-weight: 500;
    color: black;
    margin: 0 0 0.5em 0;
    display: inline-block;

}


.headerlinks{
    width: 600px;
    display: flex;
    justify-content: space-between;

}

main{
    /* background-color: #f7f7f7; */
    /* width: 1450px; */
    margin: 0 auto 0 auto;
    /* padding: 2em 1em 1em 1em; */
}



.intro{
    width: auto;
    display: flex;
    /* justify-content: space-between; */
    padding: 2em 1em 1em 1em;
}

.intro a{
    text-decoration: none;
}

.intro a:hover{
    color: orangered;

}

main h2{
    font-size: 115px;
    font-weight: 400;
    line-height: 0.9;
    margin: 0 0 1em 0;
    padding-top: 220px;
    width: auto;
    display: inline-block; 
    letter-spacing: -0.02em;
    
}

.bluehighlight{
    color: #3300FF;
}

.headerlinks a:link {
    text-decoration: none;
    color: black;
}

.headerlinks a:visited{
    color: black;
}

.headerlinks a:hover {
    color: orangered;
  }


.contacts{
    padding-top: 230px;
    /* display: flex; */
    padding-right: 30px;
    padding-left: 20px;
}

.contacts a:link, a:visited {
    text-decoration: none;
    font-size: 17px;
    line-height: 1.2;
    padding: 0px 5px 0px 0px;
    color: #3300FF;
   
}

.contacts a:hover{
    color: orangered;

}


.arrowbig{
    font-size: 200px;
    line-height: 0.5;
    padding-left: 60px;
    color: #3300FF;
    font-weight: 300;

}

.phonearrow{
    display: none;
}


  


.aboutme p{
    font-size: 36px;
    line-height: 1.1;
    padding: 200px 40px 400px 620px;
    /* display: inline-block; */

}

.infome{
    background-color: #3300FF;
    padding: 0 1em 1em 1em;
    margin-top: 0px;
    
}

.infome p{
    color: #f7f7f7;
    font-size: 60px;
    padding-bottom: 50px;
    padding-top: 20px;
    line-height: 1;

}

.simple{
    font-style: italic;
}

.infosmile{
    display: flex;
    padding-bottom: 100px;
}

.infome h6{
    font-size: 60px;
    color:#f7f7f7;
    line-height: 1;
    font-weight: 400;
    padding-top: 20px;
}

.infosmile p{
    font-size: 30px;
    font-weight: 300;
    flex: 1;
    margin-top: 0;
    padding-left: 200px;
}

.infosmile img{
    /* flex: 1; */
    width: 400px;
    height: 400px;

}


.keywords{
    font-size: 60px;
    font-weight: 300;
    line-height: 1;
    padding-bottom: 250px;
    font-style: italic;
}

.infoarrow p{
    
    font-size: 200px;
    padding-left: 60px;
    color:#f7f7f7;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.alright{
    padding: 0 1em 1em 1em;
}

.alright p{
    font-size: 60px;
    line-height: 1;
    margin-top: 20px;
    padding-bottom: 400px;
    

}

.thisway{
    padding: 2em 1em 1em 1em;
}

.thisway p{
    font-size: 60px;
    line-height: 1;
    padding-bottom: 500px;
    text-align: right;
    
}

.goods{
    font-style: italic;
    color: #3300FF;

}

.works{
    display: flex;
    justify-content: space-between;
    padding: 2em 1em 1em 1em;
}
.works p{
    font-size: 60px;
    font-weight: 500;
    /* width: 400px; */
    letter-spacing: -1px;
    margin-top: 0;
    
}

/* .bluehighlightprocess{
    display: contents;
} */

.Project a:link, a:visited{
    color:#3300FF;
    text-decoration: underline;
}

.Project a:hover{
    color: orangered;
}


.Project {
    display: flex;
    justify-content: space-between;
    /* padding-bottom: 300px;
    padding-left: 10px; */
    padding: 2em 1em 300px 10px;
}

.Project h4{
    font-size: 24px;
    font-weight: 800;
    margin-bottom:0px;  
    margin-top:0;  
    width: 300px;
    padding-left: 10px;
    line-height: 1;
    
}

.Project h5{
    font-size: 24px;
    font-weight: 200;  
    margin-top:0px;  
    padding-left: 10px;
    
}

.Project p{
    font-size: 16px;
    width: 400px;
    font-weight: 100;
    margin-top:0;
    padding:0px 40px 0px 100px;
}



.Project .gallery{
    width: 1000px;
    /* height: 2000px; */
    /* margin-bottom: 300px; */
}

.Project .gallery .hero{
    width: 100%;
    padding-bottom: 5px;
    
}

.Project .gallery .hero img{
    width: 100%;
}

.two-up{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    
}

.two-up img{

        width: 49%;
        height: auto;
        object-fit: cover;
        
}


/* .three-up img{
        width: 20%;
        height: auto;
        object-fit: cover;
} */

.happycustomers{
    background-color: #3300FF;
    height: 850px;
    line-height: 1;
}

.happycustomers p{
    font-size: 60px;
    color: #f7f7f7;
    /* padding-top: 10px; */
    padding: 20px 1em 1em 15px;
}

.customers{
    display: flex;
    justify-content: space-between;
    padding: 0 200px 0 200px;
}

.customers img{
    width: 50%;
    height: 50%;
    padding-top: 200px;
    align-items: flex-end;
}

.img1{
    width: 40%;
    height: 40%;
}


.discuss{
    padding: 0 1em 1em 1em;
}

.discuss h6{
    font-size: 60px;
    font-weight: 500;
    width: 100%;
    /* padding-top: 2px; */
    /* padding-left: 10px; */
    letter-spacing: -1px;
    margin-top: 20px;
    line-height: 1;
    
}

.discuss p{
    font-size: 60px;
    font-weight: 500;
    padding-top: 450px;
    letter-spacing: -1px;
    text-align: right;
}









footer{
    background-color: #3300FF;
    padding: 1em 1em 7em 1em;
    display: flex;
    justify-content: space-between;


}


footer h5{
    color: white;
    margin: 15px 0 0.5em 0px;
    font-size: 24px;
    width: 1600px;
    font-weight: 600;
    padding-left: 10px;
}

footer p{
    color: white;
    /* margin: 0 0 0.5em 0; */
    font-size: 15px;
    font-weight: 400;
    width: 800px;
    padding-right: 50px;
}

footer a:link{
    color: white;
    text-decoration: none;
}

footer a:visited{
    color: white;
}

footer a:hover{
    text-decoration: underline;
}



